In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Anil\Projects\CricketScorePredictor-master\data\ipl.csv')

# Reading file in Pandas

In [ ]:

df.read_csv("file_path")
df.read_xlsx("file_path")
df.read_sql_query("query",con)
df.read_json("file_path")

postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
.format(username=POSTGRES_USERNAME,
password=POSTGRES_PASSWORD,
ipaddress=POSTGRES_ADDRESS,
port=POSTGRES_PORT,
dbname=POSTGRES_DBNAME))
# Create the connection
cnx = create_engine(postgres_str)

df = pd.read_sql_query(‘’’SELECT * FROM my_view’’’, con=cnx))

In [13]:
print("Anil")

Anil

In [14]:
a = "Anil"

In [18]:
age = 26

In [15]:
print(a)

Anil

In [21]:
place = "Mumbai"

# Random print functions

In [22]:
print("The name of the employee is {} and his age is {} and his place of residence is {}".format(a,age,place))

The name of the employee is Anil and his age is 26 and his place of residence is Mumbai

In [24]:
print(f"The name of the employee is {a} and his age is {age} and his place of residence is {place}")

The name of the employee is Anil and his age is 26 and his place of residence is Mumbai

In [26]:
df

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

# Create a Dataframe using Dictionary

In [33]:
df_temp = pd.DataFrame(
{
    "Name" : ['Anil','Vivek','shubham','Sumeet'],
    "Age" : [20,21,22,23],
    "Gender" : ["M","M","M","M"]    
}
)

In [34]:
df_temp

      Name  Age Gender
0     Anil   20      M
1    Vivek   21      M
2  shubham   22      M
3   Sumeet   23      M

In [36]:
dir(df_temp)

['Age',
 'Gender',
 'Name',
 'T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [38]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [39]:
df.tail()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
76009,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [41]:
df.shape

(76014, 15)

In [44]:
df2 = df[1000:1200]

In [46]:
type(df2)

pandas.core.frame.DataFrame

In [56]:
a = df2['mid']

In [55]:
type(a)

pandas.core.frame.DataFrame

1000     9
1001     9
1002     9
1003     9
1004     9
        ..
1195    10
1196    10
1197    10
1198    10
1199    10
Name: mid, Length: 200, dtype: int64

In [58]:
b = df2[['mid']]

In [59]:
b

      mid
1000    9
1001    9
1002    9
1003    9
1004    9
...   ...
1195   10
1196   10
1197   10
1198   10
1199   10

[200 rows x 1 columns]

In [60]:
df.shape

(76014, 15)

In [65]:
df.columns

Index(['mid', 'date', 'venue', 'bat_team', 'bowl_team', 'batsman', 'bowler',
       'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5', 'striker',
       'non-striker', 'total'],
      dtype='object')

In [ ]:
df['mid'] #This is a series

In [ ]:
df.mid

In [70]:
df[['mid','venue','bat_team']]

       mid                                      venue               bat_team
0        1                      M Chinnaswamy Stadium  Kolkata Knight Riders
1        1                      M Chinnaswamy Stadium  Kolkata Knight Riders
2        1                      M Chinnaswamy Stadium  Kolkata Knight Riders
3        1                      M Chinnaswamy Stadium  Kolkata Knight Riders
4        1                      M Chinnaswamy Stadium  Kolkata Knight Riders
...    ...                                        ...                    ...
76009  617  Rajiv Gandhi International Stadium, Uppal         Mumbai Indians
76010  617  Rajiv Gandhi International Stadium, Uppal         Mumbai Indians
76011  617  Rajiv Gandhi International Stadium, Uppal         Mumbai Indians
76012  617  Rajiv Gandhi International Stadium, Uppal         Mumbai Indians
76013  617  Rajiv Gandhi International Stadium, Uppal         Mumbai Indians

[76014 rows x 3 columns]

In [68]:
df.mid

0          1
1          1
2          1
3          1
4          1
        ...
76009    617
76010    617
76011    617
76012    617
76013    617
Name: mid, Length: 76014, dtype: int64

In [71]:
df

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [73]:
df['total'].describe()

count    76014.000000
mean       160.901452
std         29.246231
min         67.000000
25%        142.000000
50%        162.000000
75%        181.000000
max        263.000000
Name: total, dtype: float64

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [35]:
df[df.total == df.total.max()]

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
42229,343,2013-04-23,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,CH Gayle,B Kumar,0,0,0.1,0,0,0,0,263
42230,343,2013-04-23,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,CH Gayle,B Kumar,0,0,0.2,0,0,0,0,263
42231,343,2013-04-23,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,CH Gayle,B Kumar,1,0,0.3,1,0,1,0,263
42232,343,2013-04-23,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,TM Dilshan,B Kumar,3,0,0.4,3,0,2,1,263
42233,343,2013-04-23,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,TM Dilshan,B Kumar,3,0,0.5,3,0,2,1,263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42352,343,2013-04-23,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,CH Gayle,AB Dinda,260,3,19.2,74,2,174,0,263
42353,343,2013-04-23,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,SS Tiwary,AB Dinda,262,3,19.3,72,2,174,2,263
42354,343,2013-04-23,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,SS Tiwary,AB Dinda,262,4,19.4,66,3,174,2,263
42355,343,2013-04-23,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,CH Gayle,AB Dinda,263,4,19.5,66,3,175,0,263
42356,343,2013-04-23,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,R Rampaul,AB Dinda,263,5,19.6,65,4,175,0,263

In [6]:
df_temp

263

In [27]:
df.total == df.total.min()

0        False
1        False
2        False
3        False
4        False
         ...
76009    False
76010    False
76011    False
76012    False
76013    False
Name: total, Length: 76014, dtype: bool

In [34]:
df[df.total = df.total.min()]

SyntaxError: invalid syntax (Temp/ipykernel_6256/2384861536.py, line 1)

In [ ]:
df['city'][df.temp = 67]

In [18]:
df['venue'][2000:2300]

2000          Feroz Shah Kotla
2001          Feroz Shah Kotla
2002          Feroz Shah Kotla
2003          Feroz Shah Kotla
2004          Feroz Shah Kotla
                 ...
2295    Sawai Mansingh Stadium
2296    Sawai Mansingh Stadium
2297    Sawai Mansingh Stadium
2298    Sawai Mansingh Stadium
2299    Sawai Mansingh Stadium
Name: venue, Length: 300, dtype: object

In [ ]:
1   Anil 100
2   Anil 100 
3   Anil 200
4   a     ff
5    b   jir
6    c    ror 
7    d   jfuj
8    e   kfi
9   f   ifr
10  g   rir

In [39]:
df2 = df[['mid','date','bat_team']]

In [41]:
df2.to_csv(r'C:\Anil\Projects\DS Training\temp.csv')

In [42]:
df2

       mid        date               bat_team
0        1  2008-04-18  Kolkata Knight Riders
1        1  2008-04-18  Kolkata Knight Riders
2        1  2008-04-18  Kolkata Knight Riders
3        1  2008-04-18  Kolkata Knight Riders
4        1  2008-04-18  Kolkata Knight Riders
...    ...         ...                    ...
76009  617  2017-05-21         Mumbai Indians
76010  617  2017-05-21         Mumbai Indians
76011  617  2017-05-21         Mumbai Indians
76012  617  2017-05-21         Mumbai Indians
76013  617  2017-05-21         Mumbai Indians

[76014 rows x 3 columns]

In [43]:
#group by

In [44]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [46]:
df2 = df.groupby('venue')

In [47]:
df2

In [ ]:
for i,j in df2:
    print(i)
    print(j)
    df2.get_group(i)

In [49]:
df2.get_group('Dr DY Patil Sports Academy')

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
1482,13,2008-04-27,Dr DY Patil Sports Academy,Mumbai Indians,Deccan Chargers,L Ronchi,RP Singh,0,0,0.1,0,0,0,0,154
1483,13,2008-04-27,Dr DY Patil Sports Academy,Mumbai Indians,Deccan Chargers,L Ronchi,RP Singh,4,0,0.2,4,0,4,0,154
1484,13,2008-04-27,Dr DY Patil Sports Academy,Mumbai Indians,Deccan Chargers,L Ronchi,RP Singh,4,0,0.3,4,0,4,0,154
1485,13,2008-04-27,Dr DY Patil Sports Academy,Mumbai Indians,Deccan Chargers,L Ronchi,RP Singh,5,0,0.4,5,0,5,0,154
1486,13,2008-04-27,Dr DY Patil Sports Academy,Mumbai Indians,Deccan Chargers,ST Jayasuriya,RP Singh,6,0,0.4,6,0,5,0,154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28563,231,2011-05-19,Dr DY Patil Sports Academy,Pune Warriors,Kolkata Knight Riders,Yuvraj Singh,L Balaji,113,6,19.3,33,1,24,15,118
28564,231,2011-05-19,Dr DY Patil Sports Academy,Pune Warriors,Kolkata Knight Riders,S Rana,L Balaji,116,6,19.3,35,1,17,0,118
28565,231,2011-05-19,Dr DY Patil Sports Academy,Pune Warriors,Kolkata Knight Riders,S Rana,L Balaji,117,6,19.4,36,1,18,0,118
28566,231,2011-05-19,Dr DY Patil Sports Academy,Pune Warriors,Kolkata Knight Riders,WD Parnell,L Balaji,118,6,19.5,37,1,18,1,118
28567,231,2011-05-19,Dr DY Patil Sports Academy,Pune Warriors,Kolkata Knight Riders,S Rana,L Balaji,118,7,19.6,36,2,18,1,118

In [57]:
df_yuvraj = df[df.batsman == 'Yuvraj Singh'].reset_index()

In [58]:
df_yuvraj

,index,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,657,6,2008-04-21,Sawai Mansingh Stadium,Kings XI Punjab,Rajasthan Royals,Yuvraj Singh,D Salunkhe,68,3,7.4,52,3,15,4,166
1,658,6,2008-04-21,Sawai Mansingh Stadium,Kings XI Punjab,Rajasthan Royals,Yuvraj Singh,D Salunkhe,69,3,7.4,53,3,15,4,166
2,659,6,2008-04-21,Sawai Mansingh Stadium,Kings XI Punjab,Rajasthan Royals,Yuvraj Singh,D Salunkhe,70,3,7.5,50,3,15,4,166
3,660,6,2008-04-21,Sawai Mansingh Stadium,Kings XI Punjab,Rajasthan Royals,Yuvraj Singh,SK Warne,71,3,8.6,51,3,15,5,166
4,663,6,2008-04-21,Sawai Mansingh Stadium,Kings XI Punjab,Rajasthan Royals,Yuvraj Singh,SK Warne,73,3,8.3,49,3,16,6,166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,73681,598,2017-05-02,Feroz Shah Kotla,Sunrisers Hyderabad,Delhi Daredevils,Yuvraj Singh,K Rabada,171,3,19.1,59,0,57,24,185
976,73682,598,2017-05-02,Feroz Shah Kotla,Sunrisers Hyderabad,Delhi Daredevils,Yuvraj Singh,K Rabada,175,3,19.2,63,0,61,24,185
977,73683,598,2017-05-02,Feroz Shah Kotla,Sunrisers Hyderabad,Delhi Daredevils,Yuvraj Singh,K Rabada,176,3,19.3,63,0,62,24,185
978,73685,598,2017-05-02,Feroz Shah Kotla,Sunrisers Hyderabad,Delhi Daredevils,Yuvraj Singh,K Rabada,181,3,19.5,66,0,66,25,185
979,73686,598,2017-05-02,Feroz Shah Kotla,Sunrisers Hyderabad,Delhi Daredevils,Yuvraj Singh,K Rabada,185,3,19.6,69,0,70,25,185

In [60]:
df_yuvraj.columns

Index(['index', 'mid', 'date', 'venue', 'bat_team', 'bowl_team', 'batsman',
       'bowler', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5',
       'striker', 'non-striker', 'total'],
      dtype='object')

In [61]:
df_yuvraj.shape

(980, 16)

In [62]:
df['batsman'].unique()

array(['SC Ganguly', 'BB McCullum', 'RT Ponting', 'DJ Hussey',
       'Mohammad Hafeez', 'PA Patel', 'ML Hayden', 'MEK Hussey',
       'MS Dhoni', 'SK Raina', 'JDP Oram', 'S Badrinath', 'T Kohli',
       'YK Pathan', 'SR Watson', 'M Kaif', 'DS Lehmann', 'RA Jadeja',
       'M Rawat', 'D Salunkhe', 'SK Warne', 'SK Trivedi', 'L Ronchi',
       'ST Jayasuriya', 'DJ Thornely', 'RV Uthappa', 'PR Shah',
       'AM Nayar', 'SM Pollock', 'Harbhajan Singh', 'AC Gilchrist',
       'Y Venugopal Rao', 'VVS Laxman', 'A Symonds', 'RG Sharma',
       'SB Styris', 'AS Yadav', 'SB Bangar', 'WPUJC Vaas', 'RP Singh',
       'K Goel', 'JR Hopes', 'KC Sangakkara', 'DPMD Jayawardene',
       'Yuvraj Singh', 'IK Pathan', 'S Sohal', 'B Lee', 'PP Chawla',
       'WA Mota', 'Shahid Afridi', 'RR Sarwan', 'S Sreesanth',
       'VRV Singh', 'S Chanderpaul', 'R Dravid', 'LRPL Taylor',
       'JH Kallis', 'V Kohli', 'MV Boucher', 'P Kumar', 'SB Joshi',
       'Z Khan', 'R Vinay Kumar', 'WP Saha', 'LR Shukla', 'AB Agarkar',
       'M Kartik', 'I Sharma', 'AM Rahane', 'DJ Bravo', 'MA Khote',
       'G Gambhir', 'V Sehwag', 'S Dhawan', 'Shoaib Malik', 'MK Tiwary',
       'KD Karthik', 'R Bhatia', 'MF Maharoof', 'VY Mahesh', 'DB Das',
       'HH Gibbs', 'DNT Zoysa', 'D Kalyankrishna', 'GC Smith',
       'SA Asnodkar', 'Sohail Tanvir', 'SP Fleming', 'S Vidyut',
       'JA Morkel', 'LPC Silva', 'DB Ravi Teja', 'SE Marsh',
       'YV Takawale', 'SS Tiwary', 'RR Raje', 'Joginder Sharma',
       'MS Gony', 'M Muralitharan', 'M Ntini', 'W Jaffer', 'CL White',
       'Misbah-ul-Haq', 'DT Patil', 'A Kumble', 'DW Steyn', 'S Anirudha',
       'MM Patel', 'AB de Villiers', 'A Chopra', 'BJ Hodge', 'T Taibu',
       'Umar Gul', 'PP Ojha', 'SP Goswami', 'B Akhil', 'Salman Butt',
       'TM Dilshan', 'A Mishra', 'J Arunkumar', 'Iqbal Abdulla',
       'CK Kapugedera', 'LA Pomersbach', 'Shoaib Akhtar', 'AB Dinda',
       'SR Tendulkar', 'B Chipli', 'DR Smith', 'SD Chitnis',
       'Kamran Akmal', 'TM Srivastava', 'MK Pandey', 'RR Powar',
       'JP Duminy', 'JD Ryder', 'KP Pietersen', 'CH Gayle',
       'MC Henriques', 'A Flintoff', 'FH Edwards', 'PC Valthaty',
       'RJ Quiney', 'AD Mascarenhas', 'AS Raut', 'Pankaj Singh',
       'RS Bopara', 'DL Vettori', 'M Manhas', 'PJ Sangwan', 'MN van Wyk',
       'AA Bilakhia', 'TL Suman', 'Shoaib Ahmed', 'GR Napier',
       'R Bishnoi', 'RE van der Merwe', 'KP Appanna', 'M Vijay',
       'SB Jakati', 'L Balaji', 'NV Ojha', 'LA Carseldine', 'RJ Harris',
       'D du Preez', 'DS Kulkarni', 'SM Harwood', 'Yashpal Singh',
       'AN Ghosh', 'AD Mathews', 'SM Katich', 'DA Warner', 'J Botha',
       'A Nehra', 'Mashrafe Mortaza', 'GJ Bailey', 'AB McDonald',
       'Y Nagar', 'Niraj Patel', 'T Henderson', 'A Singh', 'R Ashwin',
       'T Thushara', 'Mohammad Ashraful', 'CA Pujara', 'OA Shah',
       'AP Tare', 'AT Rayudu', 'R Sathish', 'R McLaren', 'MS Bisla',
       'YA Abdulla', 'EJG Morgan', 'AA Jhunjhunwala', 'P Dogra',
       'A Uniyal', 'KA Pollard', 'MJ Lumb', 'DR Martyn', 'S Narwal',
       'M Morkel', 'Anirudh Singh', 'Jaskaran Singh', 'FY Fazal',
       'AC Voges', 'MD Mishra', 'J Theron', 'R Sharma', 'Mandeep Singh',
       'KM Jadhav', 'SW Tait', 'PD Collingwood', 'VS Malik',
       'SJ Srivastava', 'AP Dole', 'Bipul Sharma', 'DE Bollinger',
       'BAW Mendis', 'B Sumanth', 'C Madan', 'AG Paunikar', 'AJ Finch',
       'MR Marsh', 'STR Binny', 'IR Jaggi', 'DT Christian', 'RV Gomez',
       'UBT Chand', 'UT Yadav', 'Sunny Singh', 'NJ Rimmington',
       'MA Agarwal', 'AUK Pathan', 'AL Menaria', 'DJ Jacobs',
       'WD Parnell', 'TD Paine', 'SB Wagh', 'AC Thomas', 'BJ Haddin',
       'NLTC Perera', 'MS Wade', 'JE Taylor', 'RN ten Doeschate',
       'SL Malinga', 'AG Murtaza', 'TR Birt', 'Harpreet Singh',
       'NL McCullum', 'DH Yagnik', 'AC Blizzard', 'M Klinger',
       'I Malhotra', 'A Mithun', 'P Parameswaran', 'AA Chavan',
       'ND Doshi', 'CJ Ferguson', 'B Kumar', 'S Rana', 'JEC Franklin',
       'Shakib Al Hasan', 'F du Plessis', 'SPD Smith', 'MN Samuels',
       'KK Cooper', 'HV Patel', 'Ankit Sharma', 'RE Levi', 'RR Bhatkal',
       'Harmeet Singh', 'BA Bhatt', 'CJ McKay', 'DJ Harris', 'N Saini',
       'DA Miller', 'Azhar Mahmood', 'A Ashish Reddy', 'V Pratap Singh',
       'BB Samantray', 'RJ Peterson', 'S Nadeem', 'VR Aaron', 'MJ Clarke',
       'AP Majumdar', 'Gurkeerat Singh', 'P Awana', 'SP Narine',
       'A Chandila', 'PA Reddy', 'MC Juneja', 'AD Russell', 'KK Nair',
       'KB Arun Karthik', 'GH Vihari', 'MDKJ Perera', 'R Shukla',
       'JD Unadkat', 'M Vohra', 'JP Faulkner', 'R Rampaul', 'BJ Rohrer',
       'Q de Kock', 'KV Sharma', 'SMSM Senanayake', 'LJ Wright',
       'X Thalaivan Sargunam', 'DJG Sammy', 'MG Johnson', 'A Mukund',
       'SV Samson', 'BMAJ Mendis', 'KL Rahul', 'CM Gautam',
       'KW Richardson', 'Parvez Rasool', 'GJ Maxwell', 'R Dhawan',
       'SA Yadav', 'CJ Anderson', 'JJ Bumrah', 'CA Lynn', 'MA Starc',
       'AR Patel', 'Sandeep Sharma', 'BR Dunk', 'Shivam Sharma',
       'LMP Simmons', 'VH Zol', 'BCJ Cutting', 'Mohammed Shami',
       'BE Hendricks', 'S Gopal', 'M de Lange', 'RR Rossouw', 'JO Holder',
       'JDS Neesham', 'Imran Tahir', 'MM Sharma', 'DJ Hooda', 'CH Morris',
       'SS Iyer', 'SA Abbott', 'AN Ahmed', 'YS Chahal', 'J Suchith',
       'P Negi', 'RG More', 'Anureet Singh', 'HH Pandya',
       'NM Coulter-Nile', 'PV Tambe', 'MJ McClenaghan', 'DJ Muthuswami',
       'SN Thakur', 'SN Khan', 'D Wiese', 'S Aravind', 'JC Buttler',
       'CR Brathwaite', 'MP Stoinis', 'C Munro', 'P Sahu', 'KH Pandya',
       'TG Southee', 'MJ Guptill', 'KJ Abbott', 'TM Head', 'AD Nath',
       'NS Naik', 'Ishan Kishan', 'SW Billings', 'RR Pant',
       'KS Williamson', 'KC Cariappa', 'PSP Handscomb', 'Sachin Baby',
       'J Yadav', 'UT Khawaja', 'HM Amla', 'BB Sran', 'N Rana',
       'F Behardien', 'ER Dwivedi', 'JJ Roy', 'BA Stokes', 'Vishnu Vinod',
       'TS Mills', 'Basil Thampi', 'CR Woakes', 'V Shankar',
       'Rashid Khan', 'RA Tripathi', 'RD Chahar', 'LH Ferguson',
       'C de Grandhomme', 'PJ Cummins', 'Mohammad Nabi', 'Kuldeep Yadav',
       'Washington Sundar', 'S Badree', 'A Choudhary', 'AR Bawne',
       'AJ Tye', 'Ankit Soni', 'K Rabada', 'AF Milne', 'SP Jackson',
       'Swapnil Singh', 'R Tewatia', 'AS Rajpoot'], dtype=object)

In [66]:
df_ganguly = df[df['batsman'] == "SC Ganguly"]

In [77]:
df_yuv_gan = pd.concat([df_yuvraj,df_ganguly],axis=0)

In [76]:
df_yuv_gan.to_csv("C:\Anil\Projects\DS Training\player.csv")

In [78]:
df_yuv_gan

,index,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,657.0,6,2008-04-21,Sawai Mansingh Stadium,Kings XI Punjab,Rajasthan Royals,Yuvraj Singh,D Salunkhe,68,3,7.4,52,3,15,4,166
1,658.0,6,2008-04-21,Sawai Mansingh Stadium,Kings XI Punjab,Rajasthan Royals,Yuvraj Singh,D Salunkhe,69,3,7.4,53,3,15,4,166
2,659.0,6,2008-04-21,Sawai Mansingh Stadium,Kings XI Punjab,Rajasthan Royals,Yuvraj Singh,D Salunkhe,70,3,7.5,50,3,15,4,166
3,660.0,6,2008-04-21,Sawai Mansingh Stadium,Kings XI Punjab,Rajasthan Royals,Yuvraj Singh,SK Warne,71,3,8.6,51,3,15,5,166
4,663.0,6,2008-04-21,Sawai Mansingh Stadium,Kings XI Punjab,Rajasthan Royals,Yuvraj Singh,SK Warne,73,3,8.3,49,3,16,6,166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35709,NaN,290,2012-05-08,Subrata Roy Sahara Stadium,Pune Warriors,Rajasthan Royals,SC Ganguly,SR Watson,24,0,4.3,24,0,12,8,125
35711,NaN,290,2012-05-08,Subrata Roy Sahara Stadium,Pune Warriors,Rajasthan Royals,SC Ganguly,SR Watson,26,0,4.5,26,0,13,9,125
35713,NaN,290,2012-05-08,Subrata Roy Sahara Stadium,Pune Warriors,Rajasthan Royals,SC Ganguly,SW Tait,28,0,5.1,26,0,13,11,125
35714,NaN,290,2012-05-08,Subrata Roy Sahara Stadium,Pune Warriors,Rajasthan Royals,SC Ganguly,SW Tait,29,0,5.2,27,0,14,11,125
35716,NaN,290,2012-05-08,Subrata Roy Sahara Stadium,Pune Warriors,Rajasthan Royals,SC Ganguly,SW Tait,30,1,5.4,26,1,14,11,125

df_yuv_gan

In [82]:
df = pd.DataFrame([10,20,30],index=[3,1,2])

In [83]:
df

    0
3  10
1  20
2  30

In [94]:
df.loc[3]   #this works on index

0    10
Name: 3, dtype: int64

In [97]:
df.iloc[3]   #This works on row Number

IndexError: single positional indexer is out-of-bounds

In [98]:
#List Assignment
#https://www.codesdope.com/practice/python-make-a-list/